.ContactsContainer {
    padding: 20px 0 20px 50px;

}

.title {
    font-size: 40px;
}


.TitleContact {
    display: inline-block;
    margin-top: 25px;
    padding-left: 15px;
    font-size: 36px;
}


.Message {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.box {
    text-align: center;
}